form {
    text-align: center;
}

.marker {
    color: red;
    background-color: azure;
    display: block;
    border: 1px solid red;
    width: 100px;
    border-radius: 5px;
    padding: 5px;
}

.marker h5 {
    font-size: 11px;
    color: black;
    font-weight: bold;
}
