.jumbotron {
    background: none;
}

form {
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    border-radius: 25px;
    width: 65%;
    margin: auto;
}

.marker {
    opacity: 90%;
    color: dodgerblue;
    background-color: azure;
    display: block;
    border: 1px solid dodgerblue;
    width: 100px;
    border-radius: 5px;
    padding: 0px;
}

.marker h5 {
    font-size: 11px;
    color: white;
    font-weight: bold;
    padding: 0;
    margin: 0;
    padding: 5px;
    background-color: dodgerblue;
}

.marker div {
    padding: 3px;
    color: grey;
}

ul {
    width: 100%;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

ul li {
    border: 1px solid dodgerblue;
    list-style-type: none;
}

ul li h4 {
    background-color: dodgerblue;
    color: white;
    font-size: 14px;
    margin: 0;
    padding: 3px;
}

ul li div {
    color: grey;
    font-size: 11px;
    padding: 3px;
}

.marker ul li {
    border: none;
    border-bottom: 1px solid aliceblue;
}

ul.search-results-list {
    height: 350px;
    overflow: scroll
}

.searchForm {
    height: 48px;
    padding: 5px;
    background-color: ghostwhite;
}

.searchForm .form-row {
    justify-content: center;
}

.searchDistanceOptions>div{
    background-color: #e9ecef;
    color: #495057;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.searchZip.form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

.searchButton {
    border-radius: 18px;
    background: none;
    color: dodgerblue;
    padding: 0;
    font-size: 38px;
    line-height: 36px;
    border: none;
}

.form-row .col:first-child .input-group-text{
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.form-row .col:last-child {
    text-align: right;
}
